body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
}

.container{
    width: 50vw;
    margin: 0px auto;
    padding: 0;
}

/*typography*/
.user-name,
.likes,
.desc-span-nick{
    font-size: 14px;
    font-weight: 700;
}

/*header*/

header .container{
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #E4E4E4;
}

header{
    background-color: white;
    position: sticky;
    top: 0;
}

#logo, #user-avatar{
    margin: 0;
}

#logo{
    width: 30%;
    height: 15%;
}

/*post*/
section .container{
    border-bottom: 20px solid #E4E4E4;
}
#user-avatar, .user-info img{
    width: 10%;
    border-radius: 50%;  
    margin: 6px;
}


.user-info{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.user-info p {
    margin: 0;
}

.image-post{
    width: inherit;
}

.interaction-icons{
    padding: 10px 0;
}

.interaction-icons img{
    width: 30px;
    margin: 0px 5px;
    cursor: pointer;
}

.likes{
    margin: 0 5px;
}
.desc{
    margin: 0 0px 5px 5px;
}